<h1>Create Listings</h1>
<div>
  <a [routerLink]="['/browse']">Browse</a>
  <a [routerLink]="['/listings']">My Listings</a>
  <button (click)="_service.logout()">Log off</button>
</div>
<form (submit)="addBike()" #myForm = "ngForm">
  Title:<input type ="text" name="title" required [(ngModel)]="bike.title" #title="ngModel" ><br>
  <div *ngIf="!title.valid" style="color:red">Title is required</div><br>
  Price:<input type="number" name="price" required [(ngModel)]="bike.price" #price="ngModel"><br>
  <div *ngIf="!price.valid" style="color:red">Price is required</div><br>
  Location:<input type="text" name="location" required [(ngModel)]="bike.location" #location="ngModel"><br>
  <div *ngIf="!location.valid" style="color:red">Location is required</div><br>
  Description:<textarea required name="description" [(ngModel)]="bike.description" #description="ngModel"></textarea><br>
  <div *ngIf="!description.valid" style="color:red">Description is required</div><br>
  <input type="submit" value="Add Bike!"><br>
</form>

<h1>My listings</h1>

<table>
  <tr>
    <th>Price</th>
    <th>Title</th>
    <th>Location</th>
    <th>Description</th>
  </tr>
  <tr *ngFor="let bike of bikes">
    <td>{{bike.price}}</td>
    <td>{{bike.title}}</td>
    <td>{{bike.location}}</td>
    <td>{{bike.description}}</td>
    <td><a [routerLink]="['/update',bike._id]"><button>Update</button></a></td>
    <td><button (click)="remove(bike._id)">Delete</button></td>
  </tr>
</table>
  

