<form (submit)="update()" #myForm = "ngForm">
  Title:<input type ="text" name="title" required [(ngModel)]="bike.title" #title="ngModel" ><br>
  <div *ngIf="!title.valid" style="color:red">Title is required</div><br>
  Price:<input type="number" name="price" required [(ngModel)]="bike.price" #price="ngModel"><br>
  <div *ngIf="!price.valid" style="color:red">Price is required</div><br>
  Location:<input type="text" name="location" required [(ngModel)]="bike.location" #location="ngModel"><br>
  <div *ngIf="!location.valid" style="color:red">Location is required</div><br>
  Description:<textarea required name="description" [(ngModel)]="bike.description" #description="ngModel"></textarea><br>
  <div *ngIf="!description.valid" style="color:red">Description is required</div><br>
  <input type="submit" value="Add Bike!"><br>
</form>
